body{
    height: 95vh;
    width: 95;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(21, 61, 21);
}

#snake{
    border: 2px solid #000000;
}

#score{
    font-family: fantasy;
}